div.grid {
    width: 808px;
    height: 600px;
}
div.grid div {
    width: 100px;
    height: 100px;
    float: left;
    background-color: darkolivegreen;
}

div.grid div:nth-child(-n+64) {
    border-bottom: 1px solid grey;
}
/* div.grid div:nth-child(56) {
    border-right: none;
} */

div.grid div {
    border-right: 1px solid grey;
}
span.white{
    background-image: url('../../resource/icon/whitedisc.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
span.black{
    background-image: url('../../resource/icon/blackdisc.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

span.available{
    /* background-color: white !important; */
    width: 100px;
    height: 100px;
    display: block;
    background-image: radial-gradient( #b1b1b1, #556b2f );
}
.reversi-content {
    margin-left: 10%;
}